---
layout: layouts/base.njk
Promotion:
  text: Pages CMS 现已托管在 Cloudflare Pages 上！
  url: https://pagescms.org/
features:
  icon: 🚀
  title: 边缘计算的速度
  description: 利用 Cloudflare Workers 强大的 Next.js 适配功能，为您提供闪电般的页面加载体验。
---
